//! **************************************************************************
// Written by: Map P.28xd on Sat Apr 18 19:12:00 2015
//! **************************************************************************

SCHEMATIC START;
COMP "a_to_g<0>" LOCATE = SITE "M12" LEVEL 1;
COMP "a_to_g<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "a_to_g<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "a_to_g<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "a_to_g<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "a_to_g<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "a_to_g<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "switch1" LOCATE = SITE "N3" LEVEL 1;
COMP "switch2" LOCATE = SITE "E2" LEVEL 1;
COMP "switch5" LOCATE = SITE "B4" LEVEL 1;
COMP "switch6" LOCATE = SITE "K3" LEVEL 1;
COMP "switch7" LOCATE = SITE "L3" LEVEL 1;
COMP "switch8" LOCATE = SITE "P11" LEVEL 1;
COMP "ans<0>" LOCATE = SITE "K14" LEVEL 1;
COMP "ans<1>" LOCATE = SITE "M13" LEVEL 1;
COMP "ans<2>" LOCATE = SITE "J12" LEVEL 1;
COMP "ans<3>" LOCATE = SITE "F12" LEVEL 1;
COMP "light<0>" LOCATE = SITE "G1" LEVEL 1;
COMP "light<1>" LOCATE = SITE "P4" LEVEL 1;
COMP "light<2>" LOCATE = SITE "N4" LEVEL 1;
COMP "light<3>" LOCATE = SITE "N5" LEVEL 1;
COMP "light<4>" LOCATE = SITE "P6" LEVEL 1;
COMP "light<5>" LOCATE = SITE "P7" LEVEL 1;
COMP "light<6>" LOCATE = SITE "M11" LEVEL 1;
COMP "light<7>" LOCATE = SITE "M5" LEVEL 1;
COMP "temp_a" LOCATE = SITE "G12" LEVEL 1;
COMP "temp_b" LOCATE = SITE "C11" LEVEL 1;
COMP "temp_c" LOCATE = SITE "M4" LEVEL 1;
COMP "temp_d" LOCATE = SITE "A7" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

