NET "a_to_g[0]" LOC = M12;
NET "a_to_g[1]" LOC = L13;
NET "a_to_g[2]" LOC = P12;
NET "a_to_g[3]" LOC = N11;
NET "a_to_g[4]" LOC = N14;
NET "a_to_g[5]" LOC = H12;
NET "a_to_g[6]" LOC = L14;
NET "clk" LOC = B8;
NET "ans[0]" LOC =K14;
NET "ans[1]" LOC =M13;
NET "ans[2]" LOC =J12;
NET "ans[3]" LOC =F12;
NET "temp_a" LOC=G12;
NET "temp_b" LOC=C11;
NET "temp_c" LOC=M4;
NET "temp_d" LOC=A7;
NET "switch1" LOC=N3;
NET "switch2" LOC=E2;
NET "switch5" LOC=B4;
NET "switch6" LOC=K3;
NET "switch7" LOC=L3;
NET "switch8" LOC=P11;
NET "light[0]" LOC=G1;
NET "light[1]" LOC=P4;
NET "light[2]" LOC=N4;
NET "light[3]" LOC=N5;
NET "light[4]" LOC=P6;
NET "light[5]" LOC=P7;
NET "light[6]" LOC=M11;
NET "light[7]" LOC=M5;